

footer {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    padding: 10px;
    margin: 10px, 20px, 0px, 20px;
    text-align: center;
    color: rgb(227, 232, 236);
    ;
}
