* {
    padding: 0;
    margin: 0;
}


body {

    background-repeat: no-repeat;
    background-position: center;
}
header {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    padding: 20px;
    text-align: center;
}

header nav .navbar-collapse {
    flex-grow: initial;
}

/*practica transformaciones*/
header li a:hover {

    transform: scale(1.01);
    transition: all 2s;
}