@import"fuentes";

@import"generales";



/* extend*/
.mod {
    color:#0f2027;
}

.formulario{
    @extend .mod;

}

/*mixin*/
@mixin medidas ($width,$heigth){
    height: $heigth;
    width: $width;
}
 .corazon{
    @include medidas(500px,250px )
    
 }



.manos:hover {
    animation: manos 4s;
}


@keyframes manos {
    0% {
        transform: none
    }

    25% {
        transform: scale(0.5);

    }

    50% {
        transform: scale(0.8);

    }


}
nav {
    text-decoration: none;
    font-size: 25px;
    display: flex;

}

a {
    color:whitesmoke;
    font-size: 25px;

}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul .items {
    border: 20px;
    color: azure;

}



body {

    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    color: rgb(227, 232, 236);

}

h2 {
    font-style: normal;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-top: 20px;
    color: rgb(227, 232, 236);
}
img{
    max-width:100%;
}
.formulario{
    .redes{
        h2{
            color:Red;
        }
    }
}
.manos {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    color:#0f2027;
}

.parafo {
    font-size: 20px;
    color:#0f2027;
}




.section {
    color:#0f2027;
    border-top: 0px;
    border-left: 20px;

}

.vos {
    color:#0f2027;
}




footer {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    padding: 10px;
    margin: 10px, 20px, 0px, 20px;
    text-align: center;
    color: rgb(227, 232, 236);
    ;
}


header {
    grid-area: header;
    background-image: linear-gradient(#0f2027,
            #203a43,
            #2c5364);
}

@media screen and (max-width:768px) {
    header {
        display: block;
    }
}

nav {
    grid-area: nav;
    background-image: linear-gradient(#0f2027,
            #203a43,
            #2c5364);
    color: #f1f5f7;

}

.manos {
    grid-area: manos;
}

.experiencia {
    grid-area: experiencia;
   
}

.necesidad {
    grid-area: necesidad;
    
}

.mirar {
    
    grid-area: mirar;
    text-align: center;
}

footer {
    background-image: linear-gradient(#0f2027,
            #203a43,
            #2c5364);
    grid-area: footer;

}

.grilla {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "experiencia"
        "manos"
        "necesidad"
        "mirar"
        "footer";
}

.border {
    border: 1px solid white
}




.border {
    border: 1px solid rgb(192, 189, 189)
}

.items {
    display: flex;
    height: 100%;
    border-radius: 100%;

}


@media(min-width:600px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "necesidad mirar"
            "necesidad mirar"
            "experiencia experiencia"
            "footer footer";
    }
}

@media(min-width:800px) {

    .grilla {
        display: grid;
        grid-template-areas:

            "nav nav nav"
            "header header header"
            "necesidad necesidad necesidad"
            "mirar mirar mirar"
            "experiencia experiencia experiencia"
            "footer footer footer";
    }
}

.mision {
    
    text-align: center;

    grid-area: mision;
}

.somos {
   
    grid-area: somos;
}

.ayudar {
    text-align: center;
   

    grid-area: ayudar;
}

.vos {
    
    grid-area: vos;

}

.nosotros {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "mision"
        "somos"
        "ayudar"
        "vos"
        "footer";
}

@media(min-width:600px) {
    .nosotros {
        display: grid;

        grid-template-areas:
            "header header"
            "nav nav"
            "mision somos"
            "ayudar ayudar"
            "vos vos"
            "footer footer";
    }
}


@media(min-width:800px) {
    .nosotros {

        display: grid;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "mision mision mision"
            "ayudar ayudar ayudar"
            "vos vos vos"
            "footer footer footer";
    }
}



.vos {
    text-align: center;
    border-color: aliceblue;
    margin: 2px;
}

.sub {
    text-align: center;
    color: #0f2027;
}



.formulario p {
    color:#0f2027;
    text-align: center;
}

.articulos{
    color:#0f2027;
}

main {

    text-align: center;
    grid-area: main;
    border-radius: 1%;
   

}

.redes {
    padding: 10px;
   
    grid-area: redes;

}

.redes h2 {
    color: #f1f5f7;

}

.corazon{
    text-align: rigcent;
}
.arena p {
    color: #0f2027;
}

.arena {
    grid-area: arena;
   
    text-align: left;
}

.contacto {
    display: grid;
    grid-template-areas:
        "header "
        "nav "
        "main"
        "redes"
        "arena"
        "footer ";

    gap: 5px;
    height: 100px;
}



.podes {
  
    grid-area: podes;
}


.meta {
    grid-area: meta;
    background-color: #f1f5f7;
}

.donaciones {
    grid-area: donaciones;
    background-color: #f1f5f7;
}

.donation {
    grid-area: donation;
    background-color: #f1f5f7;
}

.donar {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "podes"
        "meta"
        "donaciones"
        "donation"
        "footer";
    gap: 2px;
    height: 100vh;
}

@media(min-width:600px) {
    .donar {
        display: grid;

        grid-template-areas:
            "header header "
            "nav nav "
            "podes podes"
            "meta meta "
            "donaciones donaciones donaciones"
            "donation donation donation"
            "footer footer footer";

        height: 100vp;
    }
}

.text-center{
    color: #0f2027;
}
.parrafog{
    color:#0f2027;
}
.carousel-inner{
    border: 20px;
}

h2{
    color: #0f2027;
}
.dia{
    color: #0f2027;
}
.cdpa{
    color:#0f2027;
}
